<%= link_to "Create kitten", new_kitten_path %>

<br>

<h1>Kittens</h1>

<% if @kittens.present? %>
  <ul>
    <% @kittens.each do |kitten| %>
      <li>
        <%= render "shared/kitten", kitten: kitten %>

        <br>

        <%= link_to "Edit Kitten", edit_kitten_path(kitten) %>
        <br>
        <%= link_to "Delete Kitten", kitten_path(kitten), data: { turbo_method: "delete" } %>
      </li>
      <br>
    <% end %>
  </ul>
<% else %>
  <p>There are no kittens :(</p>
<% end %>
